<!DOCTYPE html>
<html>
<head>
	<title>Richard Shelton Personal Portfolio</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/components/button.min.css">
</head>
<body class="text-cover">
	<nav class="navbar navbar-expand-lg navbar-inverse bg-inverse">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo" aria-controls="navbarTogglerDemo" aira-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navabarTogglerDemo">
			
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="/landing" method="GET">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contact" method="GET">Contact</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/index" method="GET">Projects</a>
				</li>
			</ul>
		</div>
	</nav>