<% include ./partials/header3 %>

<main role="main" class="inner cover">
  <div class="ui container">
    <div class="ui inverted header" id="intro">
      <h1>How To Contact Me</h1>
    </div>
  </div>
  <div class="ui container">
    <div class="ui horizontal segments">
      <div class="ui segment">
        <h2 class="ui header">By Phone</h2>
        <p>904-322-3770<br>Between 8am - 8pm</p>
      </div>
      <div class="ui segment">
        <h2 class="ui header">By Email</h2>
        <p>richard.shelton567@gmail.com<br>Anytime</p>
      </div>
    </div>
  </div>
  
  <div class="ui container">
    <h2 class="ui header" id="contact">Or Contact Me Here</h2>
    <form class="ui form"
    action="mailto:richard.shelton567@gmail.com" method="POST" enctype="text/plain">
      <h4 class="ui dividing header white">Contact Form</h4>
      <div class="form">
        <label class="white">Name</label>
        <div class="two fields">
          <div class="field">
            <input type="text" name="first-name" placeholder="First Name">
          </div>
          <div class="field">
            <input type="text" name="last-name" placeholder="Last Name">
          </div>
        </div>

        <div class="field">
          <label class="white">Email</label>
          <input type="email" placeholder="user@example.com">
        </div>
  
        <div class="ui form">
          <label class="white">Text</label>
          <textarea></textarea>
        </div>

        <button class="ui button" type="submit">Submit</button>

      </div>  
    </form>
  </div>
</main>     

<% include ./partials/footer %>
