<% include ./partials/header3 %>

<main role="main" class="inner cover">
  <div class="jumbotron">
    <h1 class="cover-header">Contact Page</h1>
  </div>
  <!--General Contact Information-->
  <h1>The best ways to contact me</h1>
  <div class="container">
    <div>
      <ol>
        <li>Call/Text: 904.322.3770</li>
        <li>Email: richard.shelton567@gmail.com</li>
      </ol>
    </div>
    <div>
      <ul>
        <li>Best Time: 8am - 8pm</li>
        <li>Best Time: Anytime</li>
      </ul>
    </div>
  </div>

  <div class="form-style-2">
    <div class="form-style-2-heading">Provide your information</div>
    <form action="mailto:richard.shelton567@gmail.com" method="post">
      <label for="field1">
        <span>Name
          <span class="required">*</span>
        </span>
        <input type="text" class="input-field" name="field1" value="" />
      </label>
      <label for="field2">
        <span>Email
          <span class="required">*</span>
        </span>
        <input type="text" class="input-field" name="field2" value="" />
      </label>
      <label>
        <span>Telephone</span>
        <input type="text" class="tel-number-field" name="tel_no_1" value="" maxlength="4" />-
        <input type="text" class="tel-number-field" name="tel_no_2" value="" maxlength="4" />-
        <input type="text" class="tel-number-field" name="tel_no_3" value="" maxlength="10" />
      </label>
      <label for="field4">
        <span>Regarding</span>
        <select name="field4" class="select-field">
          <option value="General Question">General</option>
          <option value="Critiques">Critiques</option>
          <option value="Partnership">Partnership</option>
        </select>
      </label>
      <label for="field5">
        <span>Message
          <span class="required">*</span>
        </span>
        <textarea name="field5" class="textarea-field"></textarea>
      </label>
  
      <label>
        <span>&nbsp;</span>
        <button class="ui inverted button black" type="submit" value="Submit">
           Submit
        </button>
      </label>
    </form>
  </div>
</main>     

<% include ./partials/footer %>
