<% include ./partials/header1 %>

<main role="main" class="inner cover">
  <div class="jumbotron">
    <h1 class="cover-header">My Projects Through My Learning Experience</h1>
    <p class="lead">Projects in Chronological Order</p>
  </div>
<!--this is the start the project section of the website-->  
  <div class="container">
    <div class="row">
      <div class="thumbnail" id="one">
        <div class="container">
          <img src="/images/blogApp.png">
          <span>Personal Blog Site: Featuring HTML/CSS/JS/Node.js/Express.js/MongoDB
            <br>
            <button class="ui inverted button blue">
              <a href="#">Blog App</a>
            </button>
          </span>
        </div>
      </div>
      <div class="thumbnail" id="two">
        <div class="container">
          <img src="/images/singlePage.png">
          <span>Single-Page Portfolio Site: Featuring HTML/CSS/JS<br>
            <button class="ui inverted button blue">
              <a href="#">Single-Page Portfolio</a>
            </button>
          </span>
        </div>
      </div>
      <div class="thumbnail" id="three">
        <div class="container">
          <img src="/images/wordPress.png">
          <span>WordPress Portfolio Site: Featuring HTML/CSS/Wordpress Plugins
            <br>
            <button class="ui inverted button blue">
              <a href="#">WordPress Portfolio</a>
            </button>
          </span>
        </div>
      </div>
      <div class="thumbnail" id="four">
        <div class="container">
          <img src="/images/colorGame.jpg">
          <span>Color Game: Featuring HTML/CSS/JS. JS Heavy Project
            <br>
            <button class="ui inverted button blue">
              <a href="https://codepen.io/richardshelton13/full/PExqpb/">Color Game</a>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</main>

<% include ./partials/footer %>