<% include ./partials/header1 %>

<main role="main" class="inner cover">
  <div class="jumbotron">
    <h1 class="cover-header">My Projects Through My Learning Experience</h1>
    <p class="lead">Projects in Chronological Order</p>
  </div>
<!--this is the start the project section of the website-->  
  <div class="container">
    <div class="thumbnail" id="one">
      <div>
        <img src="/images/blogApp.png">
      </div>
      <div>Personal Blog Site: HTML/CSS/JS/Node.js/Express.js/MongoDB
        <br>
        <button class="ui inverted button black">
          <a href="http://www.richardsheltonblog.com">Blog App</a>
        </button>
      </div>
    </div>
    
    <div class="thumbnail" id="two">
      <div>
        <img src="/images/singlePage.png">
      </div>
      <div>Single-Page Portfolio Site: HTML/CSS/JS<br>
        <button class="ui inverted button black">
          <a href="#">Single-Page Portfolio</a>
        </button>
      </div>
    </div>
      
    <div class="thumbnail" id="three">
      <div>
        <img src="/images/wordPress.png">
      </div>
      <div>WordPress Portfolio Site: HTML/CSS/Wordpress Plugins
        <br>
        <button class="ui inverted button black">
          <a href="#">WordPress Portfolio</a>
        </button>
      </div>
    </div>

    <div class="thumbnail" id="four">
      <div>
        <img src="/images/colorGame.jpg">
      </div>
      <div>Color Game: HTML/CSS/JS
        <br>
        <button class="ui inverted button black">
          <a href="https://codepen.io/richardshelton13/full/PExqpb/">Color Game</a>
        </button>
      </div>
    </div>
  </div>
</main>    
      

<% include ./partials/footer %>  
  