<% include ./partials/header1 %>

<main role="main" class="inner cover">
  
    <div class="ui container">
      <div class="ui inverted header" id="intro">
        <h1>My Projects</h1>
        <p>Projects in Chronological Order</p>
      </div>
    </div>
  
<!--this is the start the project section of the website-->  
  <div class=" ui container">
    <div class="ui stacked segment" id="one">
      <div class="ui header">
        Personal Blog Site:
      </div>
      <div class="ui content">  
          <p> HTML/CSS/JS/Node.js/Express.js/MongoDB. This project I created an app that showcases CRUD. Using Semantic UI to style this site.</p>
          <button class="ui button">
            <a href="http://www.richardsheltonblog.com" target="_blank">Blog App</a>
          </button>
      </div>
    </div>
    
    <div class="ui stacked segment" id="two">
      <div class="ui header">
        Single-Page Portfolio Site:
      </div>
      <div class="ui content">  
        <p> HTML/CSS/JS. First site I deployed live. Featuring modal features and uses of CSS Grid.</p>
        <button class="ui button">
          <a href="https://rslol.github.io" target="_blank">Single-Page Portfolio</a>
        </button>
      </div>
    </div>
      
    <div class="ui stacked segment" id="three">
      <div class="ui header">
        Color Game:
      </div>
      <div class="ui content">
        <p>Color Game: HTML/CSS/JS. Game app that focuses on Javascript. Focus on functions and using functions at various parts of the code.</p>
        <button class="ui button">
          <a href="https://codepen.io/richardshelton13/full/PExqpb/" target="_blank">Color Game</a>
        </button>
      </div>
    </div>

    <div class="ui stacked segment" id="four">
      <div class="ui header">
        Salvaje Food Truck:
      </div>
      <div class="ui content">
        <p> HTML/CSS/Wordpress Plugins. Orlando Local Latin Vegan Food Truck Wordpress Site.<br>(Under Construction)</p>
        <button class="ui loading button">
          <a href="#"></a>
        </button>
      </div>
    </div>

  </div>
</main>    
      

<% include ./partials/footer %>  
  