<% include ./partials/header1 %>

<main role="main" class="inner cover">
  <div class="jumbotron">
    <h1 class="cover-header">My Projects Through My Learning Experience</h1>
    <p class="lead">Projects in Chronological Order</p>
  </div>
<!--this is the start the project section of the website-->  
  <div class="container" id="one">
    <div class="col-md-4 square1">
      <p>Languages Used:<br>HTML/CSS/JS</p>
      <img src="#" alt="#" class="img-thumbnail"></img>
        <div class="overlay">
          <a href="#"><div class="text">The Great Color Guessing Game</div></a>
        </div>
    </div>
    <div class="col-md-4 square1">
      <p>Languages Used:<br>HTML/CSS/JS</p>
      <img src="#" alt="#" class="img-thumbnail"></img>
        <div class="overlay">
            <a href="#"><div class="text">To-Do List</div></a>
        </div>
    </div>
    <div class="col-md-4 square1">
      <p>Languages Used:<br>HTML/CSS/JS/Node.js/ExpressJS/MongoDB</p>
      <img src="#" alt="#" class="img-thumbnail"></img>
        <div class="overlay">
          <a href="#"><div class="text">My blog site featuring Semantic UI</div></a>
        </div>
    </div>
  </div>
  <div class="container" id="two">
    <div class="col-md-6 square2">
      <p>Languages Used:<br>HTML/CSS/PHP/MySQL</p>
      <img src="#" alt="#" class="img-thumbnail"></img>
        <div class="overlay">
          <a href="#"><div class="text">My largest project: The Spotify Clone! (Under Construction)</div></a>
        </div>
    </div>
    <div class="col-md-6 square2">
      <p>Languages Used:<br>PHP/CSS/Wordpress</p>
      <img src="#" alt="#" class="img-thumbnail"></img>
        <div class="overlay">
          <a href="#"><div class="text">Salvaje: Vegan Latin Food Truck (Under Construction)</div></a>
        </div>
    </div>
    <p class="blurb">Created by Richard Shelton</p>
    <footer class="mastfoot mt-auto">
      <p>
        <button type="button" class="btn btn-dark"><a class="nav-link" href="https://www.linkedin.com/in/richard-shelton-2b1707159/">LinkedIn</a></button>
        <button type="button" class="btn btn-dark"><a class="nav-link" href="https://www.instagram.com/steadyskelton/">Instagram</a>         </button>
        <button type="button" class="btn btn-dark"><a class="nav-link" href="#">GitHub</a></button>
      </p>
    </footer>
  </div>
</main>






<% include ./partials/footer %>