<% include ./partials/header %>
<section>
	<div class="masthead segment bg5">
		<div class="ui container">
			<div class="ui inverted header" id="intro">
				<h1>Welcome to my Portfolio</h1>
				<p>Where Healthcare Experience combines with Full-Stack Web Development</p>
				<p>
					<a href="/index" method="GET" class="ui huge inverted download button">My Projects</a>
				</p>
			</div>
		</div>
	</div>
</section>
<% include ./partials/footer %>