body {
  background-color: black;
}

p {
  text-align: center;
}

a {
  color: white;
}

main {
  background-color: black; 
  color: white;
}

h2 {
  text-align: center;
  padding: 5px;
}

footer {
  opacity: 0.5;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: black;
	padding: 20px;
	color: white;
}

footer ul {
	display: flex;
	list-style: none;
}

footer ul li {
	margin-left: 16px;
}

footer p {
	text-transform: uppercase;
	font-size: 14px;
	align-self: center;
}

.jumbotron {
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 0px;
  border-radius: 0px;
}

ul {
  animation: 2.5s swing 1s forwards;
  opacity: 0;
}

@keyframes swing {
  100% {
    opacity: 1;
  }
}


#blurb {
  margin-bottom: 50px;
}