* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #003b46 !important;
}

p {
  text-align: center;
}

a {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	color: white;
	margin-right: 10px;
}

#head {
	background-color: #003B46;
	animation: 2s slidefade 1s forwards;
	opacity: 0;
}

#intro {
	text-align: center;
  padding-top: 17%;
  animation: 2s slidefade 1.75s forwards;
  opacity: 0;
  padding-bottom: 17%;
}

.outline:hover {
	background-color: #66a5ad;
	color: white;
}


ul {
  animation: 2.5s swing 1s forwards;
  opacity: 0;
}

@keyframes swing {
  100% {
    opacity: 1;
  }
}

@keyframes slidefade {
  100% {
    opacity: 1;
  }
}

ul {
  list-style: none;
} 

.ui.container {
  text-align: center;
}

#two {
  padding-top: 3%;
}

footer {
	position: fixed;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #003B46 !important;
	padding: 20px;
	color: white;
	opacity: 1.0;
}

footer ul {
	display: flex;
	list-style: none;
	margin-bottom: 0;
}

footer ul li {
	margin-left: 16px;
	margin-bottom: 0;
}

footer p {
	text-transform: uppercase;
	font-size: 14px;
	align-self: center;
	margin: 0;
}

.ui.stackable.inverted.divided.grid {
  margin-top: 30%;
  padding-top: 30%;
}