body {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
}

a {
  color: white;
}

footer {
  opacity: 0.5;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: black;
	padding: 20px;
  color: white;
  padding-top: 5%;
}

footer ul {
	display: flex;
	list-style: none;
}

footer ul li {
	margin-left: 16px;
}

footer p {
	text-transform: uppercase;
	font-size: 14px;
	align-self: center;
}

button {
  margin-top: 15px;
}

.jumbotron {
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 0px;
  border-radius: 0px;
}

img {
  height: 200px;
  vertical-align: middle;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  grid-gap: 1em;
}



#one {
  
  animation: 2.5s slidefade 0.05s forwards;
  opacity: 0;
}

#two {
  
  animation: 2.5s slidefade 1s forwards;
  opacity: 0;
}

#three {

  animation: 2.5s slidefade 1.5s forwards;
  opacity: 0;
}

#four {
 
  animation: 2.5s slidefade 2s forwards;
  opacity: 0;
}

@keyframes slidefade {
  100% {
    opacity: 1;
  }
}